{{#each products as |product|}}
<div>
  <ul class="products">
    <li><img src="{{product.img}}" alt="picture" style="width:150px;height:150px;"></li>
    <li>{{product.name}}</li>
    <li><button class="show-product" data-id={{product._id}}>Show One</button></li>
  </ul>
</div>

{{/each}}
