<form id="charge-form">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_0WJB4joLJNPPaX6ya7rnxh8c"
    data-amount="{{amount}}"
    data-name="0Squad Merch"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>
